.gallery {
    padding: 60px 0;
    background: #fff;
    /* background: url(../../assets/images/bg4.png) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.heading {
    text-align: center;
    font-size: 64px;
    color: #5FAFCE;
    margin-bottom: 73px;
}

.block {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 23%;
    margin-right: 2.6%;
    margin-bottom: 2.6%;
}

.item:nth-child(4n) {
    margin-right: 0;
}

.item > img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .item {
        width: 48%;
        margin-right: 4%;
    }

    .item:nth-child(4n) {
        margin-right: 4%;
    }

    .item:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .heading {
        font-size: 40px;
    }
}

@media screen and (max-width: 400px) {
    .item {
        width: 100%;
        margin-right: 0;
    }

    .item:nth-child(4n) {
        margin-right: 0;
    }

    .item:nth-child(2n) {
        margin-right: 0;
    }
}