.history {
    padding: 60px 0;
    background: url(../../assets/images/bg6.png) 0 0;
    background-attachment: fixed;
}

.heading {
    text-align: center;
    font-size: 48px;
    color: #5FAFCE;
    margin-bottom: 73px;
}

.top {
    display: flex;
}

.top > p {
    margin-left: 60px;
    font-size: 18px;
    color: #000;
    line-height: 25px;
}

.top > img {
    object-fit: cover;
}

.bottom > img {
    object-fit: cover;
}

.block > p {
    font-size: 18px;
    color: #000;
    line-height: 25px;
    margin-top: 30px;
}

.list {
    list-style: disc;
    color: #000;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 70px;
}

.list > p {
    margin-bottom: 15px;
}

.bottom {
    display: flex;
}

.bottom > ul {
    margin-right: 70px;
}

.title {
    text-align: center;
    font-size: 24px !important;
    color: #000;
    margin: 30px 0;
}

.image {
    text-align: left;
    position: relative;
    z-index: 2;
}

.image > img:last-child {
    width: 100%;
    position: absolute;
    bottom: -35px;
    right: -45px;
    z-index: -1;
}

@media screen and (max-width: 900px) {
    .top {
        flex-direction: column;
    }

    .top > p {
        margin-left: 0;
        margin-top: 30px;
    }

    .bottom {
        flex-direction: column;
    }

    .bottom > img {
        margin-top: 30px;
    }
}