.slider {
    padding: 150px 0;
    background: url(../../assets/images/bg3.png) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.heading {
    text-align: center;
    font-size: 36px;
    color: #5FAFCE;
    margin-bottom: 73px;
}

.slide {
    display: flex;
    align-items: center;
}

.image {
    margin-right: 21px;
}

.text {
    color: #000;
}

@media screen and (max-width: 800px) {
    .slide {
        flex-direction: column;
    }

    .image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}