.timetable {
    padding: 60px 0 100px 0;
    background: url(../../assets/images/bg1.png) 0 0;
    background-attachment: fixed;
}

.heading {
    text-align: center;
    font-size: 48px;
    color: #5FAFCE;
    margin-bottom: 73px;
}

.timetable p {
    font-size: 24px;
    color: #000;
    text-align: center;
}