.director {
    padding: 60px 0 116px 0;
    background: url(../../assets/images/bg2.png) 0 0 no-repeat;
    background-size: cover;
}

.block {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 48%;
    position: relative;
    z-index: 6;
}

.left::before {
    content: '';
    display: inline-block;
    width: 413px;
    height: 100%;
    background: url(../../assets/images/dots2.png) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -50px;
    right: 90px;
    z-index: -1;
}

.right {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right > p:first-child {
    font-size: 24px;
    margin-bottom: 80px;
}

.right > p:last-child {
    font-size: 18px;
    line-height: 1.5;
}

@media screen and (max-width: 800px) {
    .block {
        flex-direction: column;
    }

    .left {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .right {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .left > img {
        width: 100%;
    }
}